body {
	background: linear-gradient(-45deg, #204E5C, #4F8A3F, #969696, #C9C9C9, #E5E5E5);
	background-size: 3500% 400%;
	color: #352672;
	cursor: default;
	font-family: 'Lato', sans-serif;
}

/*text styling*/

h1 {
	font-weight: 900;
	font-size: 22px;
	text-align: center;
	letter-spacing: 0.5px;
}

.name {
	position: fixed;
	margin-top: 8px;
	margin-left: 35vw;
}

h2 {
	font-weight: 700;
	font-size: 18px;
}

h3 {
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
}

p {
	font-weight: normal;
	font-size: 18px; 
}

/*image*/

.grid {
	display: flex;
	flex-direction: row;
    height: calc(100vh - 100px);
}

.art-container {
	display: inline-block;
	margin: 30px;
	justify-content: space-around;

}

.art-image {
	height: 430px;
	width: auto;
	margin-top: 100px;
}

.art-image:hover{
	cursor: pointer;
}

/*filter*/

.filter {
	position: fixed;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin-top: 60px;
	margin-left: 23vw;
	word-spacing: 14px;
}

.filter:hover{
	cursor: pointer;
}

.art-title {
	display: none;
}

.art-artist {
	display: none;
}

.art-year {
	display: none;
}

.art-title.active {
	display: block;
}

.art-artist.active {
	display: block;
}

.art-year.active {
	display: block;
}
